body {
    margin: 0 auto;
    padding: 0;
     background-image: url(./images/bgc.png);
    background-size: cover;
}
.header {
   
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}
.blocks {
    border: 10px wheat;
}
.logo {
    padding: 20px;
}
ul {
display: flex;

}
li {
font-size: 20px;
color: aliceblue;
padding: 20px;
list-style-type:none; 
transition: 3s;               ;
}
li:hover {
    color:red;
   
   box-shadow: 0px 0px 10px 10px gold;
}
.icons {
    display: flex;
    align-items: center;
}
.seaer {
    font-size: 25px;
    color: beige;
    margin-right: 15px;
}
.card {
    font-size: 25px;
    color: antiquewhite;
}
h3 {
    color: white;
    padding: 10px;
    font-style: italic;
}

.blocs {
    display: flex;
justify-content: space-between;
padding: 100px;
}
.about {
    display: flex;
    justify-content: space-around;
}
.comp {
    display: flex;
    align-items: center;
}
.box1 {
    width: 310px;
    height: 210px;
    border: 1px;
    background: blue;
}
.box2 {
    width: 310px;
    height: 210px;
    border: 1px;
    background:goldenrod;
}
.box3 {
    width: 310px;
    height: 210px;
    border: 1px;
    background:darkcyan;
}
.box4 {
    width: 310px;
    height: 210px;
    border: 1px;
    background:deeppink;
}
.boxin {
    margin: 30px;
}
.boxin2 {
    margin: 30px;
}
.expor {
    padding: 90px 0 0 100px ;
}
.exs {
    font-weight: 700;
    font-size: 45px;
    color: beige;
}